In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('groceery - Form Responses 1.csv')

In [3]:
df.head()

,Timestamp,Email Address,Your Name,Age,How often do you typically go grocery shopping?,Do you prefer shopping online or in-store?,What types of fruits do you enjoy?,What types of vegetables do you enjoy?,What is your average budget for a grocery shopping trip?,Are you interested in healthier food options?,Any specific health goals or preferences?,Do you have preferred brands for certain products?,What is your preferred payment method for grocery shopping?,Do you have any specific allergy w.r.to fruits or vegetables (If not write NA)
0,1/11/2024 17:44:09,kokanevedant7@gmail.com,Vedant,18-24,Once a week,Online,Apple,Carrots,200,Yes,muscle gain,Yes,Credit Card,NaN
1,1/11/2024 17:49:13,kalpak9370@gmail.com,Kalpak,18-24,Once a week,in-store,Banana,Broccoli,100,Yes,muscle gain,No,Mobile Wallet,NaN
2,1/11/2024 17:50:48,pranitaraut2002@gmail.com,Pranita,18-24,twice a month,Online,Orange,Carrots,1000,Yes,Weight loss,Yes,Mobile Wallet,NaN
3,1/11/2024 17:51:23,pranitaraut2002@gmail.com,Pranita,18-24,twice a month,Online,Apple,Carrots,1000,Yes,Weight loss,Yes,Cash,NaN
4,1/11/2024 18:11:29,muskanhannure@gmail.com,Muskan Hannure,18-24,Once a week,in-store,Mango,Green vegetable,50,Yes,Maintain current health,Sometimes,Mobile Wallet,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Timestamp                                                                       52 non-null     object
 1   Email Address                                                                   14 non-null     object
 2   Your Name                                                                       52 non-null     object
 3   Age                                                                             52 non-null     object
 4   How often do you typically go grocery shopping?                                 52 non-null     object
 5   Do you prefer shopping online or in-store?                                      52 non-null     object
 6   What types of fruits do you enjoy?                                              52 non-null     object
 7   What types of vegetables do you enjoy?                                          52 non-null     object
 8   What is your average budget for a grocery shopping trip?                        52 non-null     object
 9   Are you interested in healthier food options?                                   52 non-null     object
 10  Any specific health goals or preferences?                                       51 non-null     object
 11  Do you have preferred brands for certain products?                              14 non-null     object
 12  What is your preferred payment method for grocery shopping?                     52 non-null     object
 13  Do you have any specific allergy w.r.to fruits or vegetables (If not write NA)  3 non-null      object
dtypes: object(14)
memory usage: 5.8+ KB

In [5]:
df.drop(['Timestamp','Email Address','Your Name'],axis=1,inplace=True)

In [6]:
df.head()

,Age,How often do you typically go grocery shopping?,Do you prefer shopping online or in-store?,What types of fruits do you enjoy?,What types of vegetables do you enjoy?,What is your average budget for a grocery shopping trip?,Are you interested in healthier food options?,Any specific health goals or preferences?,Do you have preferred brands for certain products?,What is your preferred payment method for grocery shopping?,Do you have any specific allergy w.r.to fruits or vegetables (If not write NA)
0,18-24,Once a week,Online,Apple,Carrots,200,Yes,muscle gain,Yes,Credit Card,NaN
1,18-24,Once a week,in-store,Banana,Broccoli,100,Yes,muscle gain,No,Mobile Wallet,NaN
2,18-24,twice a month,Online,Orange,Carrots,1000,Yes,Weight loss,Yes,Mobile Wallet,NaN
3,18-24,twice a month,Online,Apple,Carrots,1000,Yes,Weight loss,Yes,Cash,NaN
4,18-24,Once a week,in-store,Mango,Green vegetable,50,Yes,Maintain current health,Sometimes,Mobile Wallet,NaN

In [7]:
df.rename(columns={'How often do you typically go grocery shopping?':'Shopping Frequency','Do you prefer shopping online or in-store?':'Shopping Mode',
          'What types of fruits do you enjoy?':'Preferred fruits','What types of vegetables do you enjoy?':'Preferred Vegetables',
          'What is your average budget for a grocery shopping trip?':'Budget','Are you interested in healthier food options?':'Healthier Food Options',
           'Any specific health goals or preferences?':'Health Goals',
          'Do you have preferred brands for certain products?':'Prefered Brand','What is your preferred payment method for grocery shopping?':'Payment Mode',
          'Do you have any specific allergy w.r.to fruits or vegetables (If not write NA)':'Allergy'},inplace=True)

In [8]:
# df.rename(columns={'Do you have preferred brands for certain products?':'Preferred Brands'})
df.head()

,Age,Shopping Frequency,Shopping Mode,Preferred fruits,Preferred Vegetables,Budget,Are you interested in healthier food options?,Health Goals,Do you have preferred brands for certain products?,Payment Mode,Allergy
0,18-24,Once a week,Online,Apple,Carrots,200,Yes,muscle gain,Yes,Credit Card,NaN
1,18-24,Once a week,in-store,Banana,Broccoli,100,Yes,muscle gain,No,Mobile Wallet,NaN
2,18-24,twice a month,Online,Orange,Carrots,1000,Yes,Weight loss,Yes,Mobile Wallet,NaN
3,18-24,twice a month,Online,Apple,Carrots,1000,Yes,Weight loss,Yes,Cash,NaN
4,18-24,Once a week,in-store,Mango,Green vegetable,50,Yes,Maintain current health,Sometimes,Mobile Wallet,NaN

In [9]:
df['Age'].unique()

array(['18-24', '25-34', '35-44', '55+', '23', '22', '21', '20', '24',
       '55', '40', '44', '33', '43', '36', '37', '27', '34', '25', '45',
       '56', '19', '67', '41'], dtype=object)

In [10]:
df['Age']=df['Age'].replace('18-24','18')
df['Age']=df['Age'].replace('25-34','25')
df['Age']=df['Age'].replace('35-44','35')
df['Age']=df['Age'].replace('55+','55')

In [11]:
df['Age'].unique()

array(['18', '25', '35', '55', '23', '22', '21', '20', '24', '40', '44',
       '33', '43', '36', '37', '27', '34', '45', '56', '19', '67', '41'],
      dtype=object)

In [12]:
df['Age']=df['Age'].astype('int')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Age                                                  52 non-null     int32
 1   Shopping Frequency                                   52 non-null     object
 2   Shopping Mode                                        52 non-null     object
 3   Preferred fruits                                     52 non-null     object
 4   Preferred Vegetables                                 52 non-null     object
 5   Budget                                               52 non-null     object
 6   Are you interested in healthier food options?        52 non-null     object
 7   Health Goals                                         51 non-null     object
 8   Do you have preferred brands for certain products?   14 non-null     object
 9   Payment Mode                                         52 non-null     object
 10  Allergy                                              3 non-null      object
dtypes: int32(1), object(10)
memory usage: 4.4+ KB

In [14]:
df['Shopping Frequency'].unique()

array(['Once a week', 'twice a month', 'Not regularly. ',
       'Once in 2-3 months ', 'Monthly '], dtype=object)

In [15]:
df['Shopping Mode'].unique()

array(['Online', 'in-store'], dtype=object)

In [61]:
df['Preferred fruits'].unique()

array(['Apple', 'Banana', 'Orange', 'Mango', 'All seasonal fruits .',
       'Pineapple', 'Grape', 'Cheeries',
       'Apple, Banana, Lemon, Pomegranate',
       'Apple, Banana, Orange, Lemon, Pomegranate, Guava(पेरु), Custard apple(सीताफल), ',
       'Apple, Banana, Orange, Pomegranate, Guava(पेरु), Custard apple(सीताफल), Sapodilla,',
       'Apple, Banana, Orange, Lemon, Pomegranate, Guava(पेरु)',
       'Apple, Banana, Lemon, Guava(पेरु)',
       'Apple, Banana, Orange, Lemon, Pomegranate, Guava(पेरु), Custard apple(सीताफल)',
       'Banana, Lemon',
       'Apple, Banana, Lemon, Guava(पेरु), Kiwi, strawberry ',
       'Apple, Banana, Orange, Pomegranate',
       'Apple, Banana, Orange, Lemon, Pomegranate, Custard apple(सीताफल)',
       'Orange, Pomegranate, Custard apple(सीताफल)',
       'Lemon, Pomegranate, Guava(पेरु), Custard apple(सीताफल)',
       'Apple, Banana, Orange, Lemon, Pomegranate',
       'Orange, Lemon, Pomegranate', 'Apple, Banana, Orange, Lemon',
       'Orange, Pomegranate, Guava(पेरु)',
       'Banana, Pomegranate, Custard apple(सीताफल)',
       'Orange, Lemon, Guava(पेरु)',
       'Apple, Banana, Orange, Guava(पेरु), Custard apple(सीताफल)',
       'Banana, Orange, Lemon',
       'Orange, Lemon, Pomegranate, Guava(पेरु), Custard apple(सीताफल)',
       'Pomegranate', 'Apple, Banana, Orange',
       'Banana, Orange, Lemon, Pomegranate',
       'Apple, Orange, Pomegranate, Custard apple(सीताफल)',
       'Lemon, Pomegranate, Custard apple(सीताफल)', 'Banana, Orange',
       'Orange, Lemon, Pomegranate, Strawbeery'], dtype=object)

In [56]:
a=[df['Preferred fruits'].str.split()]

In [60]:
import re
df['Preferred fruits'] = df['Preferred fruits'].str.replace(r'Pomegranate\(डाळिंब/अनार\)', 'Pomegranate', regex=True)

In [63]:
df['Preferred fruits'] = df['Preferred fruits'].str.replace(r'Custard apple\(सीताफल\)', 'Custard apple', regex=True)
df['Preferred fruits'] = df['Preferred fruits'].str.replace(r'Guava\(पेरु\)', 'Guava', regex=True)

In [64]:
df['Preferred fruits'].unique()

array(['Apple', 'Banana', 'Orange', 'Mango', 'All seasonal fruits .',
       'Pineapple', 'Grape', 'Cheeries',
       'Apple, Banana, Lemon, Pomegranate',
       'Apple, Banana, Orange, Lemon, Pomegranate, Guava, Custard apple, ',
       'Apple, Banana, Orange, Pomegranate, Guava, Custard apple, Sapodilla,',
       'Apple, Banana, Orange, Lemon, Pomegranate, Guava',
       'Apple, Banana, Lemon, Guava',
       'Apple, Banana, Orange, Lemon, Pomegranate, Guava, Custard apple',
       'Banana, Lemon', 'Apple, Banana, Lemon, Guava, Kiwi, strawberry ',
       'Apple, Banana, Orange, Pomegranate',
       'Apple, Banana, Orange, Lemon, Pomegranate, Custard apple',
       'Orange, Pomegranate, Custard apple',
       'Lemon, Pomegranate, Guava, Custard apple',
       'Apple, Banana, Orange, Lemon, Pomegranate',
       'Orange, Lemon, Pomegranate', 'Apple, Banana, Orange, Lemon',
       'Orange, Pomegranate, Guava', 'Banana, Pomegranate, Custard apple',
       'Orange, Lemon, Guava',
       'Apple, Banana, Orange, Guava, Custard apple',
       'Banana, Orange, Lemon',
       'Orange, Lemon, Pomegranate, Guava, Custard apple', 'Pomegranate',
       'Apple, Banana, Orange', 'Banana, Orange, Lemon, Pomegranate',
       'Apple, Orange, Pomegranate, Custard apple',
       'Lemon, Pomegranate, Custard apple', 'Banana, Orange',
       'Orange, Lemon, Pomegranate, Strawbeery'], dtype=object)

In [65]:
df.head()

,Age,Shopping Frequency,Shopping Mode,Preferred fruits,Preferred Vegetables,Budget,Are you interested in healthier food options?,Health Goals,Do you have preferred brands for certain products?,Payment Mode,Allergy
0,18,Once a week,Online,Apple,Carrots,200,Yes,muscle gain,Yes,Credit Card,NaN
1,18,Once a week,in-store,Banana,Broccoli,100,Yes,muscle gain,No,Mobile Wallet,NaN
2,18,twice a month,Online,Orange,Carrots,1000,Yes,Weight loss,Yes,Mobile Wallet,NaN
3,18,twice a month,Online,Apple,Carrots,1000,Yes,Weight loss,Yes,Cash,NaN
4,18,Once a week,in-store,Mango,Green vegetable,50,Yes,Maintain current health,Sometimes,Mobile Wallet,NaN

In [66]:
df.drop(['Allergy'],axis=1,inplace=True)

In [78]:
df['Preferred Foods']=df['Preferred fruits']+' '+df['Preferred Vegetables']

In [79]:
df.head()

,Age,Shopping Frequency,Shopping Mode,Preferred fruits,Preferred Vegetables,Budget,Are you interested in healthier food options?,Health Goals,Do you have preferred brands for certain products?,Payment Mode,Preferred Foods
0,18,Once a week,Online,Apple,Carrots,200,Yes,muscle gain,Yes,Credit Card,Apple Carrots
1,18,Once a week,in-store,Banana,Broccoli,100,Yes,muscle gain,No,Mobile Wallet,Banana Broccoli
2,18,twice a month,Online,Orange,Carrots,1000,Yes,Weight loss,Yes,Mobile Wallet,Orange Carrots
3,18,twice a month,Online,Apple,Carrots,1000,Yes,Weight loss,Yes,Cash,Apple Carrots
4,18,Once a week,in-store,Mango,Green vegetable,50,Yes,Maintain current health,Sometimes,Mobile Wallet,Mango Green vegetable

In [80]:
new_df=df[['Health Goals','Preferred Foods']]
new_df.head(2)

  Health Goals  Preferred Foods
0  muscle gain    Apple Carrots
1  muscle gain  Banana Broccoli

In [99]:
new_df['Preferred_Foods'].unique()

array(['apple carrots', 'banana broccoli', 'orange carrots',
       'mango green vegetable ',
       'all seasonal fruits . local vegetables. ', 'banana carrots',
       'pineapple ladyfinger', 'mango bhendi', 'grape potato',
       'cheeries sweet potato', 'orange spinach',
       'apple, banana, lemon, pomegranate broccoli, spinach, carrots, cucumber',
       'apple, banana, orange, lemon, pomegranate, guava, custard apple,  broccoli, spinach, carrots, potato, cucumber',
       'apple, banana, orange, pomegranate, guava, custard apple, sapodilla, broccoli, spinach, carrots, potato, cucumber, capsicum, eggplant, cabbage and cauliflower, methi ',
       'apple, banana, orange, lemon, pomegranate, guava broccoli, spinach, carrots, potato, cucumber',
       'apple, banana, lemon, guava broccoli, spinach, carrots, potato, cucumber',
       'apple, banana, orange, lemon, pomegranate, guava, custard apple spinach, carrots, potato, cucumber',
       'banana, lemon carrots, potato',
       'apple, banana, lemon, guava, kiwi, strawberry  spinach, carrots, potato, cucumber',
       'apple, banana, orange, pomegranate spinach, carrots, potato, cucumber',
       'apple, banana, orange, lemon, pomegranate, custard apple carrots, potato, cucumber',
       'orange, pomegranate, custard apple broccoli, carrots, cucumber',
       'lemon, pomegranate, guava, custard apple broccoli, spinach, carrots, cucumber',
       'apple, banana, orange, lemon, pomegranate spinach, carrots, potato, cucumber',
       'orange, lemon, pomegranate spinach, carrots, potato',
       'apple, banana, orange, lemon, pomegranate, guava, custard apple broccoli, spinach, carrots, cucumber',
       'apple, banana, orange, lemon, pomegranate broccoli, spinach, carrots, potato, cucumber',
       'apple, banana, orange, lemon spinach, carrots, potato',
       'orange, pomegranate, guava broccoli, carrots, cucumber',
       'orange, pomegranate, guava spinach, carrots, potato',
       'banana, pomegranate, custard apple broccoli, spinach, potato',
       'apple, banana, orange, lemon broccoli, spinach, carrots, potato',
       'orange, lemon, guava spinach, carrots, potato',
       'apple, banana, orange, guava, custard apple broccoli, spinach, carrots',
       'lemon, pomegranate, guava, custard apple broccoli, spinach, carrots',
       'banana, orange, lemon spinach, carrots, potato',
       'orange, lemon, pomegranate, guava, custard apple broccoli, spinach, carrots, potato, cucumber',
       'pomegranate carrots',
       'apple, banana, orange, lemon, pomegranate broccoli, spinach, carrots, potato',
       'apple, banana, orange broccoli, spinach, carrots',
       'apple, banana, orange, lemon, pomegranate, guava, custard apple spinach, carrots, cucumber',
       'banana, orange, lemon, pomegranate spinach, carrots, potato',
       'apple, orange, pomegranate, custard apple spinach, carrots, potato',
       'lemon, pomegranate, custard apple carrots, cucumber',
       'apple, banana, orange carrots, potato, cucumber',
       'banana, orange broccoli, spinach, cucumber',
       'orange, lemon, pomegranate, strawbeery broccoli, spinach, carrots, cucumber',
       'apple, banana, orange, lemon, pomegranate, guava, custard apple carrots, potato',
       'orange, lemon, pomegranate broccoli, carrots, potato'],
      dtype=object)

In [77]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [81]:
new_df['Preferred Foods']=new_df['Preferred Foods'].apply(lambda x : x.lower())

In [82]:
from sklearn.feature_extraction.text import CountVectorizer

In [83]:
cv=CountVectorizer(max_features=5000,stop_words='english')

In [85]:
vectors=cv.fit_transform(new_df['Preferred Foods']).toarray()

In [86]:
vectors[0]

array([1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [87]:
from sklearn.metrics.pairwise import cosine_similarity

In [88]:
similarity=cosine_similarity(vectors)

In [89]:
similarity[0].shape

(52,)

In [96]:
new_df.rename({'Preferred Foods':'Preferred_Foods'},inplace=True,axis=1)
new_df.head()

              Health Goals         Preferred_Foods
0              muscle gain           apple carrots
1              muscle gain         banana broccoli
2              Weight loss          orange carrots
3              Weight loss           apple carrots
4  Maintain current health  mango green vegetable

In [97]:
def recommend(health_goals):
    foods_index=new_df[new_df['Health Goals']==health_goals].index[0]
    distances=similarity[foods_index]
    foods_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in foods_list:
        print(new_df.iloc[i[0]].Preferred_Foods)
#     new_df.iloc[i[0]].title

In [98]:
recommend('muscle gain')

apple carrots
apple carrots
apple, orange, pomegranate, custard apple spinach, carrots, potato
apple, banana, orange, guava, custard apple broccoli, spinach, carrots
apple, banana, orange, lemon, pomegranate, custard apple carrots, potato, cucumber

In [105]:
new_df.head()

              Health Goals         Preferred_Foods
0              muscle gain           apple carrots
1              muscle gain         banana broccoli
2              Weight loss          orange carrots
3              Weight loss           apple carrots
4  Maintain current health  mango green vegetable

In [110]:
from collections import Counter

def recommend(health_goals):
    food_index = new_df[new_df['Health Goals'] == health_goals].index[0]
    distances = similarity[food_index]
    food_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    preferred_foods = []

    for i in food_list:
        preferred_foods.extend(new_df.iloc[i[0]].Preferred_Foods.split(', '))

    # Count the occurrences of each food
    food_counts = Counter(preferred_foods)

    # Print the top 3 most occurring foods
    top_3_foods = food_counts.most_common(3)

    for food, count in top_3_foods:
        print(food)

In [111]:
recommend('muscle gain')

apple
orange
apple carrots

In [112]:
import pickle
pickle.dump(new_df.to_dict(),open('food_dict.pkl','wb'))

In [113]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [119]:
new_df['Health Goals'].unique()

array(['muscle gain', 'Weight loss', 'Maintain current health',
       'Overall Health consciousness! ', 'Achieve good Appetite', nan,
       'Manage stress effectively', 'Weight gain', 'Stay maintain'],
      dtype=object)

In [118]:
new_df=new_df[new_df['Health Goals']!='nan']